<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>522945482544-p3l9cg1aa1vdhrat6o77nimm6kfdupki.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.522945482544-p3l9cg1aa1vdhrat6o77nimm6kfdupki</string>
	<key>API_KEY</key>
	<string>AIzaSyCdNk53NOXW7yDgalyt6nYNDeoDGRmF_h0</string>
	<key>GCM_SENDER_ID</key>
	<string>522945482544</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.syr.poza02.AllMovies</string>
	<key>PROJECT_ID</key>
	<string>allmovies-a2a69</string>
	<key>STORAGE_BUCKET</key>
	<string>allmovies-a2a69.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:522945482544:ios:0b19a9314b7d4a4fff82f5</string>
</dict>
</plist>